.title {
  background-image: url("../images/3D_Al‡ado posterior.png");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  padding-top: 0rem;
}

.title h2 {
  letter-spacing: 3px;
  font-size: 50px;
  margin: 0;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.title_fontana {
  display: flex;
}

.line {
  height: 3px;
  width: 600px;
  background: white;
}

.box {
  padding-top: 3rem;
  padding-bottom: 0rem;
}

.box h2 {
  font-size: 35px;
  margin: 0;
  letter-spacing: 1px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.location {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.location-details, .description-c {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.description {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 25px;
}

.location-details {
  background-color: #1F1F1F;
  color: white;

}

.location-details img {
width: 100%;
height: 100%;
}
@media screen and (max-width: 1000px) {
  .location-details img {
  height: 90%;
  }
  .bla{
    height: 50%;
  }
}
.location-details p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
  margin-top: 10%;
  margin-bottom: 10%;
}

@media screen and (max-width: 640px) {
  .location-details p {
  font-size: 12px;
  }
}

.form h2:nth-child(1) {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-weight: bolder;
  font-size: 30px;
  margin: 0;
  margin-top: 20px;
}

.form h2:nth-child(2) {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 30px;
  margin: 0;
}
.contact, .send_mail{
  margin-top: 40px;
}
.contact h4, .send_mail h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: black;
  font-size: 16px;
}

.contact p, .send_mail label {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 13px;
}

label {
  font-family: lato-light;
  font-size: 13px;
  color: #848484;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

input:focus, textarea:focus {
  background: rgba(0, 0, 0, .1);
  border-radius: 5px;
  outline: none;
}

input, textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0 10px;
  margin: 0;
  width: 240px;
  height: 20px;
  background: none;
  border-bottom: 1px solid #646464;
}

textarea {
  padding: 10px;
  width: 240px;
  height: 100px;
  resize: none;
  overflow: auto;
}

button {
  font-family: oswald-bold;
  border: 1px solid;
  background-color: black;
  padding: 5px;
  width: 80.48px;
  height: 34.4px;
  text-decoration: none;
  color: white;
  font-family: oswald-bold;
  font-size: 13px;
  margin-bottom: 5rem;
    margin-top: 1rem;
}

button:hover {
  background-color: #727272;
}

.smallones img {
  width: 257.53px;
  height: 133.45px;
}

.bigones img {
  margin-top: 40px;
  width: 236.07px;
  height: 139.55px;
}

.tags {
  margin-bottom: 5rem;
}

.tags p {
  font-size: 10px;
  font-weight: 700;
}

/*
.title {
  background-image: url("../images/3D_Al‡ado posterior.png");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h2 {
  letter-spacing: 3px;
  font-size: 50px;
  margin: 0;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}



.line {
  height: 3px;
  width: 600px;
  background: white;
  position: absolute;
  z-index: 8;
  margin-top: 36px;
}



@media screen and (max-width: 702px) {
  .title h2 {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    padding-left: 0px;
  }
  .line {
    margin-top: 40px;
    width: 450px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 602px) {
  .title h2 {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    padding-left: 0px;
  }
  .line {
    display: none;
  }
}

.container {
  height: 100%;
  width: 100%;
}


/* INFO

.info {
  width: 80%;
  height: 50vh;
  margin-left: 70px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.info h2 {
  font-size: 35px;
  margin: 0;
  letter-spacing: 1px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.location {
  font-family: lato-light;
  margin-top: 3px;
}

.description {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  LINE-HEIGHT: 20px;
  margin-top: 30px;
  width: 450px;
  font-size: 15px;
}

@media screen and (max-width: 702px) {
  .info {
    margin-left: auto;
    margin-right: auto;
  }
  .info h2 {
    font-size: 30px;
  }
  .location {
    font-family: lato-light;
    margin-top: 3px;
    font-size: 13px;
  }
  .description {
    width: 100%;
    font-size: 14px;
  }
}

@media screen and (max-width: 602px) {
  .info {
    margin-top: 60px;
  }
  .info h2 {
    font-size: 25px;
  }
  .location {
    font-size: 12px;
  }
  .description {
    width: 100%;
    font-size: 13px;
  }
}

/* OPPOSITE SIDE OF DETAILS

.sala {
width: 100%;
display: flex;
flex-direction: row;
}

.sala img {
  width: 640.94px;
  height: 390.95px;
}

/* DETAILS

.details {
  width: 100%;
  height: 0%;
  box-sizing: border-box;
  color: white;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.details_specification {
  background-color: #1F1F1F;
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.first_container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.first_container h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin: 0;
  padding-left: 20px;
}

.first_container p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 10px;
  margin: 0;
  margin-left: 20px;
  padding-top: 10px;
}

.first_container .title2 {
  display: flex;
  align-items: baseline;

}

.first_column {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.preço, .estado {
  margin-top: 20px;
}

.second_column {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.third_column {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

@media screen and (max-width: 1162px) {
  .first_container h4 {
    padding-left: 4px;
  }
  .first_container p {
    padding-left: 30px;
    padding-top: 7px;
  }
  .first_container hr {
    width: 20px;
  }
  .first_container {
    margin-top: 25px;
  }
}

@media screen and (max-width: 1102px) {
  .first_container h4 {
    padding-left: 4px;
    font-size: 13px;
  }
  .first_container p {
    padding-left: 25px;
    padding-top: 7px;
  }
  .first_container hr {
    width: 20px;
  }
  .first_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0;
  }
  .sala img {
    width: 540.94px;
    height: 377.95px;
  }
}

@media screen and (max-width: 1052px) {
  .first_container h4 {
    padding-left: 4px;
    font-size: 13px;
  }
  .first_container p {
    padding-left: 25px;
    padding-top: 7px;
  }
  .first_container hr {
    width: 20px;
  }
  .first_container {
    flex-wrap: wrap;
    margin-left: 0;
  }
  .sala img {
    width: 520.94px;
    height: 377.95px;
  }
}

@media screen and (max-width: 932px) {
  .sala img {
    width: 480.94px;
    height: 377.95px;
  }
}

@media screen and (max-width: 930px) {
  .sala {
    order: 2;
    position: relative;
    justify-content: center;
  }
  .details {
    flex-direction: column;
    padding-bottom: 0px;
    width: 100%;
  }
  .sala img {
    overflow: hidden;
  }
  .details_specification {
    width: 100%;
  }
}

@media screen and (max-width: 1052px) {
  .first_container h4 {
    padding-left: 4px;
    font-size: 13px;
  }
  .first_container p {
    padding-left: 25px;
    padding-top: 7px;
  }
  .first_container hr {
    width: 20px;
  }
  .first_container {
    flex-wrap: wrap;
    margin-left: 0;
  }
  .sala img {
    width: 520.94px;
    height: 377.95px;
  }
}

@media screen and (max-width: 602px) {
  .first_container h4 {
    font-size: 12px;
  }
  .first_container p {
    font-size: 9px;
  }
  .first_column {
    margin-left: 20px;
  }
}

.second_container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 60px;
}

.second_container h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin: 0;
  padding-bottom: 10px;
}

.second_container p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 10px;
  margin: 0;
  padding-bottom: 10px;
  padding-right: 10px;
}

.second_container img {
  width: 10.43px;
  height: 10.69px;
  display: flex;
  flex-direction: column;
}

.elevator, .school, .accessibility, .green {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 602px) {
  .second_container h3 {
    font-size: 14px;
  }
  .second_container p {
    font-size: 9px;
  }
  .second_container img {
    width: 7.43px;
    height: 7.69px;
  }
  .second_container {
    margin-left: 25px;
  }
}

.third_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20px;
}

.home img, .bath img, .garage img {
  width: 18.54px;
  height: 18.54px;
  margin-right: 7px;
}

.bed img {
  width: 18.14px;
  height: 17.84px;
  margin-right: 7px;
}

.home p, .bed p, .bath p, .garage p {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.home, .bed, .bath, .garage {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 40px;
}

@media screen and (max-width: 1052px) {
  .third_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0px;
  }
  .home img, .bath img, .garage img {
    width: 15.54px;
    height: 15.54px;
    margin-right: 5px;
  }
  .bed img {
    width: 15.14px;
    height: 15.84px;
    margin-right: 7px;
  }
  .home p, .bed p, .bath p, .garage p {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-size: 9px;
  }
  .home, .bed, .bath, .garage {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 20px;
  }
  .home {
    margin-left: 40px;
  }
}

/* FORM

.form {
  width: 80%;
  height: 550px;
  margin-left: 70px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.form h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: black;
  font-size: 16px;
}

.form p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 13px;
  margin-left: 20px;
}

.form h2:nth-child(1) {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-weight: bolder;
  font-size: 30px;
  margin: 0;
  margin-top: 20px;
}

.form h2:nth-child(2) {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 30px;
  margin: 0;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 20px;
  width: 400px;
}

.send_mail {
  display: flex;
  flex-direction: row;
}

.container_contacto_form {
  margin-top: 30px;
}

.send_mail h4 {
  width: 180px;
}

label {
  font-family: lato-light;
  font-size: 13px;
  color: #848484;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

input:focus, textarea:focus {
  background: rgba(0, 0, 0, .1);
  border-radius: 5px;
  outline: none;
}

input, textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0 10px;
  margin: 0;
  width: 240px;
  background: none;
  border-bottom: 1px solid #646464;
}

textarea {
  padding: 10px;
  width: 240px;
  height: 100px;
  resize: none;
  overflow: auto;
}

button {
  padding: 5px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400px;
  border: 2px solid #333;
  border-radius: 2px;
  background: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover, button:focus {
  outline: none;
  background: #000;
  color: #FFF;
}

@media screen and (max-width: 930px) {
  .options {
    flex-direction: column;
  }
}

@media screen and (max-width: 682px) {
  .form {
    margin-left: 30px;
  }
  textarea {
    width: 250px;
  }
}

@media screen and (max-width: 602px) {
  .send_mail {
    flex-direction: column;
  }
  .form {
    width: 80%;
    height: 570px;
  }
  button {
    float: right;
  }
}

.images {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.big_ones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.big_ones img {
  width: 386.07px;
  height: 289.55px;
  transition: transform 0.8s;
}

.small_ones {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.small_ones img {
  width: 257.53px;
  height: 133.45px;
}

.small_ones img:nth-child(1) {
  margin-bottom: 18px;
}

@media screen and (max-width: 930px) {
  .images {
    margin-top: 50px;
  }
}

@media screen and (max-width: 830px) {
  .big_ones img {
    width: 286.07px;
    height: 189.55px;
  }
  .small_ones img {
    width: 157.53px;
    height: 83.45px;
  }
}

@media screen and (max-width: 500px) {
  .big_ones img {
    width: 256.07px;
    height: 159.55px;
  }
  .small_ones img {
    width: 257.53px;
    height: 163.45px;
  }
  .big_ones :nth-child(1) {
    float: left;
    left: -20%;
  }
  .images {
    padding-top: 40px;
  }
}
