h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}
.hero {
  height: 100vh;
  padding: 2rem;
  background-image: url("../images/bazaar-17.png");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  animation: 2s containerIn;
}

.logo-hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-hero-container {
  height: 100%;
}

.logo-hero img {
  width: 442px;
  height: 316px;
  animation: 1s slideInUp;
  animation-name: slideInUp;
}
.mouse {
  width: 20px;
  height: 38px;
  border-radius: 20px 20px 20px 20px;
  border: 2px solid #fff;
  position: absolute;
  z-index: 1;
  animation: 3s slideInUp;
  animation-name: slideInUp;
}

.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 5px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@media screen and (max-width: 600px) {
  .logo-hero img {
    width: 302px;
    height: 186px;
  }
}

.BF13 img, .FontanaResidence img, .MariaBaptista img, .onemore img {
  width: 223px;
  height: 150px;
}
.BF13:hover img, .FontanaResidence:hover img, .MariaBaptista:hover img {
opacity: 0.6;
}
.onemore:hover img {
  opacity: 0.2;
}
.search {
  background-color: #1F1F1F;
  height: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  padding-right: 2rem;
  padding-left: 2rem;
}

.content {  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  line-height: 16px;
    letter-spacing: 0.05em;
}
.onemore{
    position: relative;
}
.onemore img {
  opacity: 0.5;
}

.onemore a {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 60px;
  left: 78px;
}
@media screen and (max-width: 1202px) {
.onemore{
  display: none;
}
}
@media screen and (max-width: 836px) {
.MariaBaptista{
  display: none;
}
}
@media screen and (max-width: 600px) {
  .BF13 img, .FontanaResidence img {
    width: 203px;
    height: 130px;
  }
}

.linktovisa p{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#button {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  width: 50px;
  color: black;
}

#button a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  margin: 0;
}

.card{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: left;
}
.card .content{
  background-color: #e8e8e8;
  padding: 30px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.line {
  height: 2px;
  width: 80px;
  background: black;
}
.line .top-left {
  top: 24px;
  left: -32px;
}

.line .top-right {
  top: 24px;
  right: -32px;
}

.line .bottom-right {
  bottom: 24px;
  right: -32px;
}

.line .bottom-left {
  bottom: 24px;
  left: -32px;
}
