h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}
.hero {
  height: 100vh;
  padding: 2rem;
  background-image: url("../images/bazaar-17.png");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  animation: 2s containerIn;
}

.logo-hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-hero-container {
  height: 100%;
}

.logo-hero img {
  width: 442px;
  height: 316px;
  animation: 1s slideInUp;
  animation-name: slideInUp;
}
.mouse {
  width: 20px;
  height: 38px;
  border-radius: 20px 20px 20px 20px;
  border: 2px solid #fff;
  position: absolute;
  z-index: 1;
  animation: 3s slideInUp;
  animation-name: slideInUp;
}

.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 5px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@media screen and (max-width: 600px) {
  .logo-hero img {
    width: 302px;
    height: 186px;
  }
}

.BF13 img, .FontanaResidence img, .MariaBaptista img, .onemore img {
  width: 223px;
  height: 150px;
}
.BF13:hover img, .FontanaResidence:hover img, .MariaBaptista:hover img {
opacity: 0.6;
}
.onemore:hover img {
  opacity: 0.2;
}
.search {
  background-color: #1F1F1F;
  height: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  padding-right: 2rem;
  padding-left: 2rem;
}
.content {
  font-size: 12px;
}
.title {
  font-family: oswald-semibold;
  line-height: 16px;
    letter-spacing: 0.05em;
}
.onemore{
    position: relative;
}
.onemore img {
  opacity: 0.5;
}

.onemore a {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 60px;
  left: 78px;
}
@media screen and (max-width: 1202px) {
.onemore{
  display: none;
}
}
@media screen and (max-width: 836px) {
.MariaBaptista{
  display: none;
}
}
@media screen and (max-width: 600px) {
  .BF13 img, .FontanaResidence img {
    width: 203px;
    height: 130px;
  }
}

.linktovisa {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#button {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  width: 50px;
  color: black;
}

#button a {
  text-decoration: none;
  color: black;
  font-family: oswald-bold;
  font-size: 12px;
  margin: 0;
}

.card{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: left;
}
.card .content{
  background-color: #e8e8e8;
  padding: 30px;
  font-size: 15px;

}
.line {
  height: 2px;
  width: 80px;
  background: black;
}
.line .top-left {
  top: 24px;
  left: -32px;
}

.line .top-right {
  top: 24px;
  right: -32px;
}

.line .bottom-right {
  bottom: 24px;
  right: -32px;
}

.line .bottom-left {
  bottom: 24px;
  left: -32px;
}
/*.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../images/bazaar-17.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  width: 450px;
  animation: 1s slideInUp;
  animation-name: slideInUp;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 2s containerIn;
}

@keyframes containerIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.mouse {
  width: 20px;
  height: 38px;
  border-radius: 20px 20px 20px 20px;
  border: 2px solid #fff;
  position: absolute;
  margin-top: 250px;
  z-index: 1;
  animation: 3s slideInUp;
  animation-name: slideInUp;
}

.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 5px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@media screen and (max-width: 992px) {
  .introdution img {
    width: 350px;
  }

}

@media screen and (max-width: 600px) {
  .introdution img {
    width: 300px;
  }
  .mouse {
    width: 18px;
    height: 36px;
  }
}
@media screen and (max-width: 400px) {
  .mouse {
    width: 16px;
    height: 30px;
  }
  .mouse span {
    width: 2px;
    height: 3px;}
}

/* SEARCH BAR

.search {
  background-color: #1F1F1F;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

.title {
  text-align: left;
}

.BF13 img, .FontanaResidence img, .MariaBaptista img, .onemore img {
  width: 223px;
  height: 150px;
}


.onemore img {
  opacity: 0.5;
}

.onemore {
  position: relative;
}

.onemore .title {
  position: absolute;
  margin-top: 65px;
}


.title {
  font-family: oswald-semibold;
}

.content {
  font-size: 12px;
  width: 70%;
  margin: 0;
}

.onemore a {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  position: absolute;
  margin-top: -85px;
  margin-left: 60px;
  text-decoration: none;
  color: white;
}

.onemore a:hover {
  text-decoration: underline;
}


/* VISA

.linktovisa {
  width: 50%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.linktovisa h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
}

.linktovisa p {
  padding-top: 60px;
}

#button {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  width: 50px;
  color: black;
}

#button a {
  text-decoration: none;
  color: black;
  font-family: oswald-bold;
  font-size: 12px;
  margin: 0;
}

#button:hover, #button:focus, #button a:hover {
  text-decoration: overline;
}


@media screen and (max-width: 600px) {
  .linktovisa {
    padding-left: 30px;
    width: 70%;
  }
  .linktovisa p {
    font-size: 13px;
  }
}

.faq {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

.firstrow, .secondtrow {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  box-sizing: border-box;
}
.secondtrow{
  margin-top: 50px;
}
.firstone, .secondone, .thirdone, .fourthone {
  width: 40%;
  margin-left: 70px;
  box-sizing: border-box;
}

.secondone, .fourthone {
  margin-left: 80px;
  box-sizing: border-box;
}

.hideme {
  opacity: 0;
}

.line {
  height: 2px;
  width: 80px;
  background: black;
  position: absolute;
  z-index: 11;
}

.line.top-left {
  top: 24px;
  left: -32px;
}

.line.top-right {
  top: 24px;
  right: -32px;
}

.line.bottom-right {
  bottom: 24px;
  right: -32px;
}

.line.bottom-left {
  bottom: 24px;
  left: -32px;
}

.faq-container-text {
  background-color: #e8e8e8;
  padding: 30px;
  padding-top: 60px;
  font-size: 15px;
  width: 250px;
  height: 200px;
  margin-top: 10px;


}

.faq h4 {
  font-family: 'Lato', sans-serif;
}

.faq h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 3px;
}

@media screen and (max-width: 1182px) {
  .firstone, .secondone, .thirdone, .fourthone {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1080px) {
  .faq {
    padding-left: 50px;
    margin-bottom: 50px;
  }
  .firstone, .secondone, .thirdone, .fourthone {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .line.top-left, .line.top-right, .line.bottom-right, .line.bottom-left {
    display: none;
  }
  .faq-container-text {
    padding-top: 20px;
    width: 80%;
  }
  .faq {
    padding-left: 30px;
  }
  .firstrow, .secondtrow {
    width: 80%;
  }
  .faq-container-text {
    font-size: 13px;
  }
}
@media screen and (max-width: 400px) {
  .line.top-left, .line.top-right, .line.bottom-right, .line.bottom-left {
    display: none;
  }
  .faq-container-text {
    padding-top: 20px;
    width: 90%;
  }
  .faq {
    padding-left: 30px;
  }
  .firstrow, .secondtrow {
    width: 80%;
  }
  .faq-container-text {
    font-size: 13px;
  }
}
