h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
margin-top: 0;
}

.page-title {
  position: relative;
  padding-top: 100px;
  animation: 1s slideInUp;
  animation-name: slideInUp;
}
.title_residencia{
    padding-left: 88px;
}

.title_line {
  height: 2px;
  width: 70px;
  background: black;
  transition: left 1s;
  position: absolute;
  top: 122px;
  left: 0;
}
@media screen and (max-width: 640px) {
  .title_residencia{
    padding-left: 8px;
  }
  .title_line  {
      left: -70px;
      top: 120px;
  }
}
.left-side {
  text-align: right;
  float: right;
  position: relative;
}
.left-side h2,p{
  margin-right: 10px;

}
.right-side {
  text-align: left;
  float: left;
    position: relative;
}

.rule {
  padding-bottom: 2rem;
  padding-top: 0rem;
}

.rule img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.rule p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.rectangle {
  width: 70px;
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle p{
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.d-rect-top-right {
  position: absolute;
  top: 0;
  right: 48px;
}

.d-rect-top-right .line{
  left: 68px;
}

.d-rect-top-left {
  position: absolute;
  top: 0;
  left: -20px;
}

.d-rect-top-left .line{
  left: 0px;
}

.line {
  width: 56px;
  height: 2px;
  background: grey;
  position: absolute;
  top: 18px;
  right: 0;
}

@media screen and (max-width: 760px) {
  .line {
    transform: rotate(90deg);
    top: 68px;
  }
  .d-rect-top-right .line{
    left: 48px;
  }
  .d-rect-top-right {
    right: 8px;
  }
  .rule h2 {
padding-top: 20px;
  }
  .rule img {
order: 1;
  }
  .content{
    order: 2;
  }
}

/*
.title{
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 130px;
  margin-bottom: 24px;
  animation: 1s slideInUp;
  animation-name: slideInUp;
}
.logotop img{
  width: 65px;
  height: 56px;
}

.page-section {
  height: 100%;
  margin: 2rem;
  animation: 2s containerIn;
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

.title h2 {
  letter-spacing: 3px;
  font-size: 27px;
}

.title_line {
  height: 2px;
  width: 70px;
  background: black;
  position: absolute;
  z-index: 11;
  top: 44px;
  left: -84px;
  transition: left 1s;
}

.container {
  height: 100%;
}

@media screen and (max-width: 902px) {
  .title{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 184px;
    margin-top: 100px;
    margin-bottom: 24px;
  }

  .title h2{
    letter-spacing: 3px;
    font-size: 27px;
  }

  .title_line {
    height: 2px;
    width: 60px;
    background: black;
    position: absolute;
    z-index: 11;
    top: 20px;
    left: -84px;
  }
}
@media screen and (max-width: 602px) {
  .title{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 84px;
    margin-top: 100px;
    margin-bottom: 24px;
  }

  .title h2 {
    letter-spacing: 3px;
    font-size: 23px;
  }

  .title_line {
    height: 2px;
    width: 60px;
    background: black;
    position: absolute;
    z-index: 11;
    top: 40px;
    left: -84px;
  }
}

/* FIRST RULE


.first_rule img {
  width: 334.39px;
  height: 243.23px;
  padding-left: 14%;
  padding-top: 10px;
  transition: transform 0.8s;
  position: relative;
}

.first_rule:hover img {
  transform: translate(-15px);
  ;
  transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-out;
}

.first_rule {
  display: flex;
  flex-direction: row;
  animation: 2s containerIn;
  position: relative;
}

.first_rule .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15%;
  margin-top: 15px;
  width: 30%;
  height: 100%;
  box-sizing: border-box;
}

.first_rule .text p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 960px) {
  .first_rule .text {
    margin-left: 15%;
    margin-top: 75px;
  }
  .first_rule .text p {
    font-size: 14px;
  }
  .first_rule img {
    width: 314.39px;
    height: 223.23px;
    padding-left: 10%;
    padding-top: 80px;
  }

}

@media screen and (max-width: 800px) {
  .first_rule .text {
    margin-left: 11%;
    margin-top: 85px;
  }
  .first_rule .text p {
    font-size: 12px;
  }
  .first_rule img {
    width: 294.39px;
    height: 203.23px;
    padding-left: 10%;
    padding-top: 80px;
  }

  .first_rule .text h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .first_rule {
    flex-direction: column;
    margin-left: 100px;
    box-sizing: border-box;
  }
  .first_rule hr {
    -webkit-transform: rotate(90deg);
    margin-left: 42%;
    bottom: 15%;
  }
  .first_rule img {
    padding-top: 30px;
  }
  .first_rule .text {
    margin-top: 55px;
    width: 55%;
  }
}

@media screen and (max-width: 600px) {
  .first_rule {
    flex-direction: column;
    margin-left: 0px;
  }
  .first_rule img {
    padding-top: 20px;
    width: 254.39px;
    height: 163.23px;
    padding-left: 5%;
  }
  .first_rule .text {
    margin-top: 75px;
    width: 80%;
    margin-left: 6%;
  }
  .first_rule .text p {
    width: 100%;
    font-size: 13px;
  }
}

/* SECOND RULE

.second_rule {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  box-sizing: border-box;
  height: 100%;
  animation: 2s containerIn;
}


.second_rule img {
  width: 334.39px;
  height: 243.23px;
  padding-top: 60px;
  margin-left: 12%;
  transition: transform 0.8s;

}

.second_rule:hover img{
  transform: translate(-10px);
  ;
  transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-out;
}

.second_rule .text {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15%;
  width: 30%;
  height: 80%;
  text-align: right;
}

.second_rule .text p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 960px) {
  .second_rule .text {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 12%;
    width: 30%;
    text-align: right;
  }
  .second_rule .text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .second_rule .text {
    margin-left: 8%;
    margin-top: 85px;
  }
  .second_rule .text p {
    font-size: 12px;
  }
  .second_rule img {
    width: 294.39px;
    height: 203.23px;
    margin-left: 15%;
    padding-top: 80px;
  }
  .second_rule .text h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .second_rule {
    flex-direction: column;
    margin-left: 100px;
    box-sizing: border-box;
  }
  .second_rule img {
    margin-left: 10%;
  }
  .second_rule .text {
    order: 2;
    width: 45%;
    text-align: left;
    margin-left: 10%;
    margin-top: 55px;
  }
}

@media screen and (max-width: 600px) {
  .second_rule {
    margin-left: 30px;
  }
  .second_rule img {
    width: 254.39px;
    height: 163.23px;
    padding-top: 100px;
  }
  .second_rule .text {
    margin-top: 55px;
    width: 50%;
  }
  .second_rule .text p {
    width: 100%;
          font-size: 13px;
  }
}

/* THIRD RULE


.third_rule img {
  width: 334.39px;
  height: 243.23px;
  padding-left: 14%;
  padding-top: 80px;
  transition: transform 0.8s;
}

.third_rule:hover img{
  transform: translate(-10px);
  ;
  transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-out;
}

.third_rule {
  display: flex;
  margin-bottom: 100px;
  flex-direction: row;
  height: 100%;
      animation: 2s containerIn;
}

.third_rule .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15%;
  margin-top: 85px;
  width: 30%;
  height: 100%;
}

.third_rule .text p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 960px) {
  .third_rule .text {
    margin-left: 15%;
    margin-top: 75px;
  }
  .third_rule .text p {
    font-size: 14px;
  }
  .third_rule img {
    width: 314.39px;
    height: 223.23px;
    padding-left: 10%;
    padding-top: 80px;
  }

}

@media screen and (max-width: 800px) {
  .third_rule .text {
    margin-left: 11%;
    margin-top: 85px;
  }
  .third_rule .text p {
    font-size: 12px;
  }
  .third_rule img {
    width: 294.39px;
    height: 203.23px;
    padding-left: 10%;
    padding-top: 80px;
  }
  .third_rule .text h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .third_rule {
    flex-direction: column;
    margin-left: 100px;
    box-sizing: border-box;
  }
  .third_rule img {
    padding-top: 130px;
  }
  .third_rule .text {
    margin-top: 55px;
    width: 45%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .third_rule {
    margin-left: 30px;
  }

  .third_rule img {
    padding-top: 120px;
    width: 254.39px;
    height: 163.23px;
  }
  .third_rule .text {
    margin-top: 55px;
    width: 50%;
  }
  .third_rule .text p {
    width: 100%;
          font-size: 13px;
  }
}

/* SQUARE

.containersquare {
  width: 50%;
  height: 30%;
  max-width: 50%;
  max-height: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  top: 10px;
  left: 260px;
  margin-right: 10px;
  animation: 2s containerIn;
  position: absolute;
  background-image: url("../images/square-01.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.containersquare2 {
  width: 55%;
  height: 50%;
  max-width: 55%;
  max-height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  top: 10px;
  left: 300px;
  margin-right: 10px;
  animation: 2s containerIn;
  position: absolute;
  background-image: url("../images/square2-01.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


@media screen and (max-width: 960px) {
  .containersquare {
    width: 20%;
    height: 30%;
    max-width: 50%;
    max-height: 30%;
    top: 80px;
    left: 290px;
}
.containersquare2 {
  width: 50%;
  height: 50%;

}
}
@media screen and (max-width: 700px) {
  .containersquare {
    width: 30%;
    height: 30%;
    top: 10px;
    left: 290px;
  }
}

@media screen and (max-width: 600px) {
  .containersquare {
    background-image: url("../images/square-responsive-01.png");
    top: 140px;
    left: 240px;
  }
}

@media screen and (max-width: 500px) {
  .containersquare {
    background-image: url("../images/square-responsive-01.png");
    top: 140px;
    left: 200px;
  }
}
