h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
margin-top: 0;
}

.page-title {
  position: relative;
  padding-top: 100px;
  animation: 1s slideInUp;
  animation-name: slideInUp;
}
.title_residencia{
    padding-left: 88px;
}

.title_line {
  height: 2px;
  width: 70px;
  background: black;
  transition: left 1s;
  position: absolute;
  top: 122px;
  left: 0;
}
@media screen and (max-width: 640px) {
  .title_residencia{
    padding-left: 8px;
  }
  .title_line  {
      left: -70px;
      top: 120px;
  }
}
.intro p{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: left;
}
.left-side {
  text-align: right;
  float: right;
  position: relative;
}
.left-side h2,p{
  margin-right: 10px;

}
.right-side {
  text-align: left;
  float: left;
    position: relative;
}

.rule {
  padding-bottom: 2rem;
  padding-top: 0rem;
}

.rule img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.rule p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.rectangle {
  width: 70px;
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle p{
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.d-rect-top-right {
  position: absolute;
  top: 0;
  right: 28px;
}

.d-rect-top-right .line{
  left: 48px;
}

.d-rect-top-left {
  position: absolute;
  top: 0;
  left: -20px;
}

.d-rect-top-left .line{
  left: 0px;
}

.line {
  width: 56px;
  height: 2px;
  background: grey;
  position: absolute;
  top: 18px;
  right: 0;
}

@media screen and (max-width: 760px) {
  .line {
    transform: rotate(90deg);
    top: 68px;
  }
  .d-rect-top-right .line{
    left: 48px;
  }
  .d-rect-top-right {
    right: 8px;
  }
  .rule h2 {
padding-top: 20px;
  }
  .rule img {
order: 1;
  }
  .content{
    order: 2;
  }
}
